In [1]:
import pandas as pd
import os

In [2]:
# Set the desired working directory
change_directory = 'C:\\Users\\windows\\OneDrive\\Desktop'

# Change the working directory
os.chdir(change_directory)

# Load the data
data = pd.read_csv("morphological2.csv")     ### Read from Excel file        df = pd.read_excel('data.xlsx')
df =data

In [3]:
# Display first few rows
df.head()

,Genotypes,FP,FPP,PH,NB,SD,IL,NII,FL,FWI,FEW,NF,TW,NSF,FYPP
0,Arka Anamika,2.0,42.5,129.21,2.0,1.47,6.90,14.5,15.35,1.61,18.63,21.0,8.30,52.96,376.88
1,Raadhika,1.0,42.5,96.27,1.0,1.72,5.40,15.5,18.63,2.11,25.35,23.5,5.91,46.90,560.29
2,OH-102,1.0,40.5,90.83,0.0,1.61,10.30,14.0,15.20,1.89,23.79,19.5,6.15,44.43,510.25
3,SVOK 5151,2.0,41.5,142.18,1.0,2.17,9.85,21.0,18.61,2.00,25.22,22.0,6.98,39.44,519.48
4,F1 No.3,1.0,46.5,109.62,2.0,1.77,11.80,14.0,16.52,1.70,21.27,17.0,6.81,44.46,433.73

In [4]:
# Display the first few rows of the DataFrame
print(df.head())

      Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0  Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1      Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2        OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3     SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4       F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70

     FEW    NF    TW    NSF    FYPP
0  18.63  21.0  8.30  52.96  376.88
1  25.35  23.5  5.91  46.90  560.29
2  23.79  19.5  6.15  44.43  510.25
3  25.22  22.0  6.98  39.44  519.48
4  21.27  17.0  6.81  44.46  433.73

In [5]:
# Select row with index label 5
print(df.loc[5])

Genotypes    INDAM 9821
FP                  1.0
FPP                43.5
PH               129.32
NB                  1.0
SD                  2.2
IL                  5.8
NII                18.0
FL                17.49
FWI                2.04
FEW               22.85
NF                 20.5
TW                 6.21
NSF               45.98
FYPP             471.94
Name: 5, dtype: object

In [6]:
# Select row with index position 5
print(df.iloc[5])

Genotypes    INDAM 9821
FP                  1.0
FPP                43.5
PH               129.32
NB                  1.0
SD                  2.2
IL                  5.8
NII                18.0
FL                17.49
FWI                2.04
FEW               22.85
NF                 20.5
TW                 6.21
NSF               45.98
FYPP             471.94
Name: 5, dtype: object

In [7]:
# Using iloc accessor
fifth_column_value = df.loc[5].iloc[4]
print(fifth_column_value)

1.0

In [8]:
# Using iloc accessor
fifth_column_value = df.loc[5].iloc[4]
print(fifth_column_value)

1.0

In [9]:
# Display last few rows
print(df.tail())

      Genotypes   FP   FPP      PH   NB    SD    IL   NII     FL   FWI    FEW  \
27  Arka Nikita  1.0  46.5  114.67  1.0  1.43  7.15  16.5  14.90  1.56  19.21
28   Green star  2.0  50.5  124.25  1.0  1.53  6.30  14.5  11.55  3.50  36.70
29  Arka Nikita  1.0  46.5  114.67  1.0  1.43  7.15  16.5  14.90  1.56  19.21
30        ssaam  1.0  46.5  114.67  1.0  1.43  7.15   NaN  14.90  1.56    NaN
31         Zxzx  1.0  46.5  114.67  1.0   NaN  7.15  16.5  14.90  1.56  19.21

      NF    TW    NSF    FYPP
27  19.0  7.36  53.74  449.08
28  11.5  7.09  67.03  476.40
29  19.0  7.36  53.74  449.08
30  19.0  7.36  53.74  449.08
31  19.0   NaN  53.74  449.08

In [10]:
# Get summary statistics
print(df.describe())

              FP        FPP          PH         NB         SD         IL  \
count  32.000000  32.000000   32.000000  32.000000  31.000000  32.000000
mean    1.500000  46.609375  117.618750   1.546875   1.817097   7.452813
std     0.941858   3.607193   11.401617   1.552103   0.349830   1.889469
min     1.000000  40.500000   90.830000   0.000000   1.340000   3.550000
25%     1.000000  44.625000  111.400000   1.000000   1.610000   6.300000
50%     1.000000  46.500000  114.670000   1.000000   1.770000   7.150000
75%     2.000000  47.375000  125.022500   2.000000   1.940000   8.525000
max     5.500000  56.000000  142.180000   8.500000   2.800000  11.800000

             NII         FL        FWI        FEW         NF         TW  \
count  31.000000  32.000000  32.000000  31.000000  32.000000  31.000000
mean   16.709677  15.720937   1.695625  22.042903  18.875000   7.220000
std     2.505907   2.257058   0.375448   3.302506   2.618175   0.729511
min    13.000000  11.550000   1.390000  18.630000  11.500000   5.910000
25%    14.500000  14.360000   1.517500  20.315000  17.000000   6.805000
50%    16.500000  15.260000   1.575000  21.270000  19.000000   7.280000
75%    18.000000  17.385000   1.772500  23.175000  20.625000   7.455000
max    23.500000  21.040000   3.500000  36.700000  23.500000   9.340000

             NSF        FYPP
count  32.000000   32.000000
mean   51.381250  423.411562
std     6.728017   64.768454
min    39.440000  289.420000
25%    46.295000  368.672500
50%    53.255000  437.575000
75%    54.792500  461.107500
max    70.140000  560.290000

In [11]:
# Get shape of DataFrame
print(df.shape)

(32, 15)

In [12]:
# Get data types of columns
print(df.dtypes)

Genotypes     object
FP           float64
FPP          float64
PH           float64
NB           float64
SD           float64
IL           float64
NII          float64
FL           float64
FWI          float64
FEW          float64
NF           float64
TW           float64
NSF          float64
FYPP         float64
dtype: object

In [13]:
# Check for missing values in the DataFrame
print(df.isnull())

    Genotypes     FP    FPP     PH     NB     SD     IL    NII     FL    FWI  \
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
5       False  False  False  False  False  False  False  False  False  False
6       False  False  False  False  False  False  False  False  False  False
7       False  False  False  False  False  False  False  False  False  False
8       False  False  False  False  False  False  False  False  False  False
9       False  False  False  False  False  False  False  False  False  False
10      False  False  False  False  False  False  False  False  False  False
11      False  False  False  False  False  False  False  False  False  False
12      False  False  False  False  False  False  False  False  False  False
13      False  False  False  False  False  False  False  False  False  False
14      False  False  False  False  False  False  False  False  False  False
15      False  False  False  False  False  False  False  False  False  False
16      False  False  False  False  False  False  False  False  False  False
17      False  False  False  False  False  False  False  False  False  False
18      False  False  False  False  False  False  False  False  False  False
19      False  False  False  False  False  False  False  False  False  False
20      False  False  False  False  False  False  False  False  False  False
21      False  False  False  False  False  False  False  False  False  False
22      False  False  False  False  False  False  False  False  False  False
23      False  False  False  False  False  False  False  False  False  False
24      False  False  False  False  False  False  False  False  False  False
25      False  False  False  False  False  False  False  False  False  False
26      False  False  False  False  False  False  False  False  False  False
27      False  False  False  False  False  False  False  False  False  False
28      False  False  False  False  False  False  False  False  False  False
29      False  False  False  False  False  False  False  False  False  False
30      False  False  False  False  False  False  False   True  False  False
31      False  False  False  False  False   True  False  False  False  False

      FEW     NF     TW    NSF   FYPP
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False  False
9   False  False  False  False  False
10  False  False  False  False  False
11  False  False  False  False  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False  False  False  False
15  False  False  False  False  False
16  False  False  False  False  False
17  False  False  False  False  False
18  False  False  False  False  False
19  False  False  False  False  False
20  False  False  False  False  False
21  False  False  False  False  False
22  False  False  False  False  False
23  False  False  False  False  False
24  False  False  False  False  False
25  False  False  False  False  False
26  False  False  False  False  False
27  False  False  False  False  False
28  False  False  False  False  False
29  False  False  False  False  False
30   True  False  False  False  False
31  False  False   True  False  False

In [14]:
# Check for missing values in the DataFrame
print(df.isnull().sum())

Genotypes    0
FP           0
FPP          0
PH           0
NB           0
SD           1
IL           0
NII          1
FL           0
FWI          0
FEW          1
NF           0
TW           1
NSF          0
FYPP         0
dtype: int64

In [15]:
# Assuming 'df' is your DataFrame
null_values_rowwise = df.isnull().sum(axis=1)
print(null_values_rowwise)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    2
31    2
dtype: int64

In [16]:
# Select a single column
print(df['Genotypes'])

0        Arka Anamika
1            Raadhika
2              OH-102
3           SVOK 5151
4             F1 No.3
5          INDAM 9821
6              NS 864
7           Mahyco 10
8         Pusa sawani
9              Damini
10             SF 009
11             Shakti
12       Varsha Uphar
13           Red Okra
14         Green Okra
15         Arka Abhay
16         Welcome F1
17          Halubende
18             Samrat
19         H.R. Local
20       Red Burgundy
21           Vasant 4
22             Sujata
23    Parbhani Kranti
24      Elephant Tusk
25            Garjana
26             NoH-15
27        Arka Nikita
28         Green star
29        Arka Nikita
30              ssaam
31               Zxzx
Name: Genotypes, dtype: object

In [17]:
# Select a specific column by label
selected_column = df['Genotypes']
print(selected_column)

0        Arka Anamika
1            Raadhika
2              OH-102
3           SVOK 5151
4             F1 No.3
5          INDAM 9821
6              NS 864
7           Mahyco 10
8         Pusa sawani
9              Damini
10             SF 009
11             Shakti
12       Varsha Uphar
13           Red Okra
14         Green Okra
15         Arka Abhay
16         Welcome F1
17          Halubende
18             Samrat
19         H.R. Local
20       Red Burgundy
21           Vasant 4
22             Sujata
23    Parbhani Kranti
24      Elephant Tusk
25            Garjana
26             NoH-15
27        Arka Nikita
28         Green star
29        Arka Nikita
30              ssaam
31               Zxzx
Name: Genotypes, dtype: object

In [18]:
# Select multiple columns
print(df[['Genotypes', 'FP', 'FPP']])

          Genotypes   FP   FPP
0      Arka Anamika  2.0  42.5
1          Raadhika  1.0  42.5
2            OH-102  1.0  40.5
3         SVOK 5151  2.0  41.5
4           F1 No.3  1.0  46.5
5        INDAM 9821  1.0  43.5
6            NS 864  2.0  46.5
7         Mahyco 10  1.0  40.5
8       Pusa sawani  1.0  48.5
9            Damini  2.0  46.5
10           SF 009  1.0  46.5
11           Shakti  1.0  43.5
12     Varsha Uphar  1.0  47.0
13         Red Okra  2.0  50.5
14       Green Okra  2.0  53.5
15       Arka Abhay  1.0  43.5
16       Welcome F1  1.0  46.5
17        Halubende  3.5  52.5
18           Samrat  1.0  46.5
19       H.R. Local  5.5  56.0
20     Red Burgundy  2.0  49.0
21         Vasant 4  1.0  47.0
22           Sujata  1.0  46.0
23  Parbhani Kranti  2.0  45.0
24    Elephant Tusk  1.0  51.5
25          Garjana  1.0  46.5
26           NoH-15  1.0  45.0
27      Arka Nikita  1.0  46.5
28       Green star  2.0  50.5
29      Arka Nikita  1.0  46.5
30            ssaam  1.0  46.5
31             Zxzx  1.0  46.5

In [19]:
# Filter rows based on a condition
filtered_df = df[df['FP'] > 2]
print(filtered_df)

     Genotypes   FP   FPP      PH   NB    SD    IL   NII     FL   FWI    FEW  \
17   Halubende  3.5  52.5  120.92  4.5  1.95  5.04  18.0  21.04  1.57  23.50
19  H.R. Local  5.5  56.0  119.22  8.5  2.63  8.50  23.5  14.16  1.51  21.03

      NF    TW    NSF    FYPP
17  18.5  7.04  57.97  368.70
19  18.5  7.34  57.67  368.59

In [20]:
# Sort DataFrame by a column
sorted_df = df.sort_values(by='FP', ascending=False)
print(sorted_df)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
30            ssaam  1.0  46.5  114.67  1.0  1.43   7.15   NaN  14.90  1.56
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
31             Zxzx  1.0  46.5  114.67  1.0   NaN   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF    FYPP
19  21.03  18.5  7.34  57.67  368.59
17  23.50  18.5  7.04  57.97  368.70
0   18.63  21.0  8.30  52.96  376.88
14  22.77  14.5  6.58  43.63  360.18
13  21.23  16.5  6.97  70.14  352.50
23  21.97  15.5  7.32  55.32  364.75
9   21.48  20.0  9.34  45.78  289.42
6   18.75  22.0  7.28  49.15  499.00
28  36.70  11.5  7.09  67.03  476.40
3   25.22  22.0  6.98  39.44  519.48
20  21.58  15.0  7.28  42.67  345.38
27  19.21  19.0  7.36  53.74  449.08
26  20.92  21.5  6.80  55.49  441.42
25  19.62  20.0  6.47  47.28  378.57
24  23.99  17.0  7.57  57.22  364.09
29  19.21  19.0  7.36  53.74  449.08
22  21.27  19.5  6.46  46.73  448.66
21  21.11  21.0  6.81  50.66  451.56
30    NaN  19.0  7.36  53.74  449.08
16  20.66  21.5  8.36  54.95  459.52
18  23.95  20.5  7.31  46.40  541.17
1   25.35  23.5  5.91  46.90  560.29
15  20.52  16.5  7.55  53.55  356.30
12  19.22  19.0  8.57  53.64  375.01
11  22.74  22.0  7.64  44.23  465.87
10  20.11  20.5  7.22  53.67  427.55
8   21.69  16.5  6.66  54.74  371.30
7   23.78  17.0  7.72  47.15  374.34
5   22.85  20.5  6.21  45.98  471.94
4   21.27  17.0  6.81  44.46  433.73
2   23.79  19.5  6.15  44.43  510.25
31  19.21  19.0   NaN  53.74  449.08

In [21]:
# Group by a column and calculate mean for other columns
grouped_df = df.groupby('Genotypes').mean()
print(grouped_df)

                  FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
Genotypes
Arka Abhay       1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
Arka Anamika     2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
Arka Nikita      1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
Damini           2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
Elephant Tusk    1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
F1 No.3          1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
Garjana          1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
Green Okra       2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
Green star       2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
H.R. Local       5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
Halubende        3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
INDAM 9821       1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
Mahyco 10        1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
NS 864           2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
NoH-15           1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
OH-102           1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
Pusa sawani      1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
Raadhika         1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
Red Burgundy     2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
Red Okra         2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
SF 009           1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
SVOK 5151        2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
Samrat           1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
Shakti           1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
Sujata           1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
Varsha Uphar     1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
Vasant 4         1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
Welcome F1       1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
Zxzx             1.0  46.5  114.67  1.0   NaN   7.15  16.5  14.90  1.56
ssaam            1.0  46.5  114.67  1.0  1.43   7.15   NaN  14.90  1.56

                   FEW    NF    TW    NSF    FYPP
Genotypes
Arka Abhay       20.52  16.5  7.55  53.55  356.30
Arka Anamika     18.63  21.0  8.30  52.96  376.88
Arka Nikita      19.21  19.0  7.36  53.74  449.08
Damini           21.48  20.0  9.34  45.78  289.42
Elephant Tusk    23.99  17.0  7.57  57.22  364.09
F1 No.3          21.27  17.0  6.81  44.46  433.73
Garjana          19.62  20.0  6.47  47.28  378.57
Green Okra       22.77  14.5  6.58  43.63  360.18
Green star       36.70  11.5  7.09  67.03  476.40
H.R. Local       21.03  18.5  7.34  57.67  368.59
Halubende        23.50  18.5  7.04  57.97  368.70
INDAM 9821       22.85  20.5  6.21  45.98  471.94
Mahyco 10        23.78  17.0  7.72  47.15  374.34
NS 864           18.75  22.0  7.28  49.15  499.00
NoH-15           20.92  21.5  6.80  55.49  441.42
OH-102           23.79  19.5  6.15  44.43  510.25
Parbhani Kranti  21.97  15.5  7.32  55.32  364.75
Pusa sawani      21.69  16.5  6.66  54.74  371.30
Raadhika         25.35  23.5  5.91  46.90  560.29
Red Burgundy     21.58  15.0  7.28  42.67  345.38
Red Okra         21.23  16.5  6.97  70.14  352.50
SF 009           20.11  20.5  7.22  53.67  427.55
SVOK 5151        25.22  22.0  6.98  39.44  519.48
Samrat           23.95  20.5  7.31  46.40  541.17
Shakti           22.74  22.0  7.64  44.23  465.87
Sujata           21.27  19.5  6.46  46.73  448.66
Varsha Uphar     19.22  19.0  8.57  53.64  375.01
Vasant 4         21.11  21.0  6.81  50.66  451.56
Welcome F1       20.66  21.5  8.36  54.95  459.52
Zxzx             19.21  19.0   NaN  53.74  449.08
ssaam              NaN  19.0  7.36  53.74  449.08

In [22]:
# Write the modified DataFrame to a new CSV file
df.to_csv('modified_dataset.csv', index=False)

In [23]:
# Create a new column 'Fruit length=width' by adding values from columns 'FWI' and 'FL'
df['Fruit length=width'] = df['FWI'] + df['FL']

# Display the new DataFrame with the added column
print(df)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
30            ssaam  1.0  46.5  114.67  1.0  1.43   7.15   NaN  14.90  1.56
31             Zxzx  1.0  46.5  114.67  1.0   NaN   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF    FYPP  Fruit length=width
0   18.63  21.0  8.30  52.96  376.88               16.96
1   25.35  23.5  5.91  46.90  560.29               20.74
2   23.79  19.5  6.15  44.43  510.25               17.09
3   25.22  22.0  6.98  39.44  519.48               20.61
4   21.27  17.0  6.81  44.46  433.73               18.22
5   22.85  20.5  6.21  45.98  471.94               19.53
6   18.75  22.0  7.28  49.15  499.00               15.87
7   23.78  17.0  7.72  47.15  374.34               15.24
8   21.69  16.5  6.66  54.74  371.30               16.91
9   21.48  20.0  9.34  45.78  289.42               15.56
10  20.11  20.5  7.22  53.67  427.55               17.04
11  22.74  22.0  7.64  44.23  465.87               18.06
12  19.22  19.0  8.57  53.64  375.01               16.08
13  21.23  16.5  6.97  70.14  352.50               14.55
14  22.77  14.5  6.58  43.63  360.18               13.59
15  20.52  16.5  7.55  53.55  356.30               16.05
16  20.66  21.5  8.36  54.95  459.52               18.88
17  23.50  18.5  7.04  57.97  368.70               22.61
18  23.95  20.5  7.31  46.40  541.17               16.68
19  21.03  18.5  7.34  57.67  368.59               15.67
20  21.58  15.0  7.28  42.67  345.38               18.57
21  21.11  21.0  6.81  50.66  451.56               17.79
22  21.27  19.5  6.46  46.73  448.66               19.16
23  21.97  15.5  7.32  55.32  364.75               14.37
24  23.99  17.0  7.57  57.22  364.09               22.44
25  19.62  20.0  6.47  47.28  378.57               18.82
26  20.92  21.5  6.80  55.49  441.42               19.35
27  19.21  19.0  7.36  53.74  449.08               16.46
28  36.70  11.5  7.09  67.03  476.40               15.05
29  19.21  19.0  7.36  53.74  449.08               16.46
30    NaN  19.0  7.36  53.74  449.08               16.46
31  19.21  19.0   NaN  53.74  449.08               16.46

In [24]:
# Remove the added column 'Fruit length=width'
df.drop(columns=['Fruit length=width'], inplace=True)

# Display the modified DataFrame without the added column
print(df)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
30            ssaam  1.0  46.5  114.67  1.0  1.43   7.15   NaN  14.90  1.56
31             Zxzx  1.0  46.5  114.67  1.0   NaN   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF    FYPP
0   18.63  21.0  8.30  52.96  376.88
1   25.35  23.5  5.91  46.90  560.29
2   23.79  19.5  6.15  44.43  510.25
3   25.22  22.0  6.98  39.44  519.48
4   21.27  17.0  6.81  44.46  433.73
5   22.85  20.5  6.21  45.98  471.94
6   18.75  22.0  7.28  49.15  499.00
7   23.78  17.0  7.72  47.15  374.34
8   21.69  16.5  6.66  54.74  371.30
9   21.48  20.0  9.34  45.78  289.42
10  20.11  20.5  7.22  53.67  427.55
11  22.74  22.0  7.64  44.23  465.87
12  19.22  19.0  8.57  53.64  375.01
13  21.23  16.5  6.97  70.14  352.50
14  22.77  14.5  6.58  43.63  360.18
15  20.52  16.5  7.55  53.55  356.30
16  20.66  21.5  8.36  54.95  459.52
17  23.50  18.5  7.04  57.97  368.70
18  23.95  20.5  7.31  46.40  541.17
19  21.03  18.5  7.34  57.67  368.59
20  21.58  15.0  7.28  42.67  345.38
21  21.11  21.0  6.81  50.66  451.56
22  21.27  19.5  6.46  46.73  448.66
23  21.97  15.5  7.32  55.32  364.75
24  23.99  17.0  7.57  57.22  364.09
25  19.62  20.0  6.47  47.28  378.57
26  20.92  21.5  6.80  55.49  441.42
27  19.21  19.0  7.36  53.74  449.08
28  36.70  11.5  7.09  67.03  476.40
29  19.21  19.0  7.36  53.74  449.08
30    NaN  19.0  7.36  53.74  449.08
31  19.21  19.0   NaN  53.74  449.08

In [25]:
# Remove rows with null values
df.dropna(inplace=True)

# Display the modified DataFrame
print(df)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF    FYPP
0   18.63  21.0  8.30  52.96  376.88
1   25.35  23.5  5.91  46.90  560.29
2   23.79  19.5  6.15  44.43  510.25
3   25.22  22.0  6.98  39.44  519.48
4   21.27  17.0  6.81  44.46  433.73
5   22.85  20.5  6.21  45.98  471.94
6   18.75  22.0  7.28  49.15  499.00
7   23.78  17.0  7.72  47.15  374.34
8   21.69  16.5  6.66  54.74  371.30
9   21.48  20.0  9.34  45.78  289.42
10  20.11  20.5  7.22  53.67  427.55
11  22.74  22.0  7.64  44.23  465.87
12  19.22  19.0  8.57  53.64  375.01
13  21.23  16.5  6.97  70.14  352.50
14  22.77  14.5  6.58  43.63  360.18
15  20.52  16.5  7.55  53.55  356.30
16  20.66  21.5  8.36  54.95  459.52
17  23.50  18.5  7.04  57.97  368.70
18  23.95  20.5  7.31  46.40  541.17
19  21.03  18.5  7.34  57.67  368.59
20  21.58  15.0  7.28  42.67  345.38
21  21.11  21.0  6.81  50.66  451.56
22  21.27  19.5  6.46  46.73  448.66
23  21.97  15.5  7.32  55.32  364.75
24  23.99  17.0  7.57  57.22  364.09
25  19.62  20.0  6.47  47.28  378.57
26  20.92  21.5  6.80  55.49  441.42
27  19.21  19.0  7.36  53.74  449.08
28  36.70  11.5  7.09  67.03  476.40
29  19.21  19.0  7.36  53.74  449.08

In [26]:
# Replace null values with mean of each column
df.fillna(df.mean(), inplace=True)

# Display the modified DataFrame
print(df)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF    FYPP
0   18.63  21.0  8.30  52.96  376.88
1   25.35  23.5  5.91  46.90  560.29
2   23.79  19.5  6.15  44.43  510.25
3   25.22  22.0  6.98  39.44  519.48
4   21.27  17.0  6.81  44.46  433.73
5   22.85  20.5  6.21  45.98  471.94
6   18.75  22.0  7.28  49.15  499.00
7   23.78  17.0  7.72  47.15  374.34
8   21.69  16.5  6.66  54.74  371.30
9   21.48  20.0  9.34  45.78  289.42
10  20.11  20.5  7.22  53.67  427.55
11  22.74  22.0  7.64  44.23  465.87
12  19.22  19.0  8.57  53.64  375.01
13  21.23  16.5  6.97  70.14  352.50
14  22.77  14.5  6.58  43.63  360.18
15  20.52  16.5  7.55  53.55  356.30
16  20.66  21.5  8.36  54.95  459.52
17  23.50  18.5  7.04  57.97  368.70
18  23.95  20.5  7.31  46.40  541.17
19  21.03  18.5  7.34  57.67  368.59
20  21.58  15.0  7.28  42.67  345.38
21  21.11  21.0  6.81  50.66  451.56
22  21.27  19.5  6.46  46.73  448.66
23  21.97  15.5  7.32  55.32  364.75
24  23.99  17.0  7.57  57.22  364.09
25  19.62  20.0  6.47  47.28  378.57
26  20.92  21.5  6.80  55.49  441.42
27  19.21  19.0  7.36  53.74  449.08
28  36.70  11.5  7.09  67.03  476.40
29  19.21  19.0  7.36  53.74  449.08

C:\Users\windows\AppData\Local\Temp\ipykernel_15764\4166054595.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

iloc: It is used for integer-location based indexing, where you specify the positions of rows and columns by their integer index. 
For example:
df.iloc[0:3, 1:11] selects rows 0 to 2 and columns 1 to 10 (excluding 11) based on their integer positions.
loc: It is used for label-based indexing, where you specify the names of rows and columns. 

For example:
df.loc[0:3, 'FP':'NF'] selects rows 0 to 3 and columns 'FP' to 'NF' (inclusive) based on their labels.

In [28]:
# Selecting columns by integer position
selected_columns = df.iloc[:, [0, 1, 2]]  # Selects first three columns (0-based indexing)
print(selected_columns)

          Genotypes   FP   FPP
0      Arka Anamika  2.0  42.5
1          Raadhika  1.0  42.5
2            OH-102  1.0  40.5
3         SVOK 5151  2.0  41.5
4           F1 No.3  1.0  46.5
5        INDAM 9821  1.0  43.5
6            NS 864  2.0  46.5
7         Mahyco 10  1.0  40.5
8       Pusa sawani  1.0  48.5
9            Damini  2.0  46.5
10           SF 009  1.0  46.5
11           Shakti  1.0  43.5
12     Varsha Uphar  1.0  47.0
13         Red Okra  2.0  50.5
14       Green Okra  2.0  53.5
15       Arka Abhay  1.0  43.5
16       Welcome F1  1.0  46.5
17        Halubende  3.5  52.5
18           Samrat  1.0  46.5
19       H.R. Local  5.5  56.0
20     Red Burgundy  2.0  49.0
21         Vasant 4  1.0  47.0
22           Sujata  1.0  46.0
23  Parbhani Kranti  2.0  45.0
24    Elephant Tusk  1.0  51.5
25          Garjana  1.0  46.5
26           NoH-15  1.0  45.0
27      Arka Nikita  1.0  46.5
28       Green star  2.0  50.5
29      Arka Nikita  1.0  46.5

In [29]:
# Selecting columns by label
selected_columns = df.loc[:, ['FWI', 'FL']]  # Selects columns by their labels
print(selected_columns)

     FWI     FL
0   1.61  15.35
1   2.11  18.63
2   1.89  15.20
3   2.00  18.61
4   1.70  16.52
5   2.04  17.49
6   1.51  14.36
7   1.46  13.78
8   1.58  15.33
9   1.52  14.04
10  1.77  15.27
11  1.59  16.47
12  1.72  14.36
13  1.78  12.77
14  1.79  11.80
15  1.50  14.55
16  1.39  17.49
17  1.57  21.04
18  1.43  15.25
19  1.51  14.16
20  1.57  17.00
21  1.42  16.37
22  1.53  17.63
23  1.69  12.68
24  1.79  20.65
25  1.47  17.35
26  1.58  17.77
27  1.56  14.90
28  3.50  11.55
29  1.56  14.90

In [31]:
# Selecting rows by integer position
selected_rows = df.iloc[0:5, :]  # Selects first five rows
print(selected_rows)

      Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0  Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1      Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2        OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3     SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4       F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70

     FEW    NF    TW    NSF    FYPP
0  18.63  21.0  8.30  52.96  376.88
1  25.35  23.5  5.91  46.90  560.29
2  23.79  19.5  6.15  44.43  510.25
3  25.22  22.0  6.98  39.44  519.48
4  21.27  17.0  6.81  44.46  433.73

In [33]:
# Selecting rows by label
selected_rows = df.loc[0:4, :]  # Selects rows by their labels
print(selected_rows)

      Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0  Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1      Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2        OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3     SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4       F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70

     FEW    NF    TW    NSF    FYPP
0  18.63  21.0  8.30  52.96  376.88
1  25.35  23.5  5.91  46.90  560.29
2  23.79  19.5  6.15  44.43  510.25
3  25.22  22.0  6.98  39.44  519.48
4  21.27  17.0  6.81  44.46  433.73

df.iloc[0:5, :] selects rows based on their integer position, where 0:5 means from position 0 up to but not including position 5. This selects the rows with integer positions 0, 1, 2, 3, and 4.

df.loc[0:4, :] selects rows based on their labels, where 0:4 means from label 0 up to label 4 (inclusive). This selects the rows with labels 0, 1, 2, 3, and 4.

In [37]:
# Selecting columns by integer position range
selected_columns_iloc = df.iloc[:, 0:12]  # Selects columns from position 0 to 11 (excluding 12)
# selected_columns_iloc = df.iloc[:, 1:4]  # Selects columns from position 1 to 3 (excluding 4)

print(selected_columns_iloc)

          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF
0   18.63  21.0
1   25.35  23.5
2   23.79  19.5
3   25.22  22.0
4   21.27  17.0
5   22.85  20.5
6   18.75  22.0
7   23.78  17.0
8   21.69  16.5
9   21.48  20.0
10  20.11  20.5
11  22.74  22.0
12  19.22  19.0
13  21.23  16.5
14  22.77  14.5
15  20.52  16.5
16  20.66  21.5
17  23.50  18.5
18  23.95  20.5
19  21.03  18.5
20  21.58  15.0
21  21.11  21.0
22  21.27  19.5
23  21.97  15.5
24  23.99  17.0
25  19.62  20.0
26  20.92  21.5
27  19.21  19.0
28  36.70  11.5
29  19.21  19.0

In [40]:
#split the dataset into dependent (X) and independent (y)
# Selecting independent variables (features)
X = df.iloc[:, :-1]  # Selects all rows and all columns except the last one

# Selecting dependent variable (target)
y = df.iloc[:, -1]  # Selects all rows and the last column

# Printing X and y
print("Independent variables (X):")
print(X)
print("Dependent variable (y):")
print(y)

Independent variables (X):
          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF
0   18.63  21.0  8.30  52.96
1   25.35  23.5  5.91  46.90
2   23.79  19.5  6.15  44.43
3   25.22  22.0  6.98  39.44
4   21.27  17.0  6.81  44.46
5   22.85  20.5  6.21  45.98
6   18.75  22.0  7.28  49.15
7   23.78  17.0  7.72  47.15
8   21.69  16.5  6.66  54.74
9   21.48  20.0  9.34  45.78
10  20.11  20.5  7.22  53.67
11  22.74  22.0  7.64  44.23
12  19.22  19.0  8.57  53.64
13  21.23  16.5  6.97  70.14
14  22.77  14.5  6.58  43.63
15  20.52  16.5  7.55  53.55
16  20.66  21.5  8.36  54.95
17  23.50  18.5  7.04  57.97
18  23.95  20.5  7.31  46.40
19  21.03  18.5  7.34  57.67
20  21.58  15.0  7.28  42.67
21  21.11  21.0  6.81  50.66
22  21.27  19.5  6.46  46.73
23  21.97  15.5  7.32  55.32
24  23.99  17.0  7.57  57.22
25  19.62  20.0  6.47  47.28
26  20.92  21.5  6.80  55.49
27  19.21  19.0  7.36  53.74
28  36.70  11.5  7.09  67.03
29  19.21  19.0  7.36  53.74
Dependent variable (y):
0     376.88
1     560.29
2     510.25
3     519.48
4     433.73
5     471.94
6     499.00
7     374.34
8     371.30
9     289.42
10    427.55
11    465.87
12    375.01
13    352.50
14    360.18
15    356.30
16    459.52
17    368.70
18    541.17
19    368.59
20    345.38
21    451.56
22    448.66
23    364.75
24    364.09
25    378.57
26    441.42
27    449.08
28    476.40
29    449.08
Name: FYPP, dtype: float64

In [41]:
# Selecting independent variables (features)
X = df.loc[:, :'NSF']  # Selects all rows and columns up to 'NSF' (inclusive)

# Selecting dependent variable (target)
y = df['FYPP']  # Selects the 'FYPP' column as the dependent variable

# Printing X and y
print("Independent variables (X):")
print(X)
print("\nDependent variable (y):")
print(y)

Independent variables (X):
          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF    TW    NSF
0   18.63  21.0  8.30  52.96
1   25.35  23.5  5.91  46.90
2   23.79  19.5  6.15  44.43
3   25.22  22.0  6.98  39.44
4   21.27  17.0  6.81  44.46
5   22.85  20.5  6.21  45.98
6   18.75  22.0  7.28  49.15
7   23.78  17.0  7.72  47.15
8   21.69  16.5  6.66  54.74
9   21.48  20.0  9.34  45.78
10  20.11  20.5  7.22  53.67
11  22.74  22.0  7.64  44.23
12  19.22  19.0  8.57  53.64
13  21.23  16.5  6.97  70.14
14  22.77  14.5  6.58  43.63
15  20.52  16.5  7.55  53.55
16  20.66  21.5  8.36  54.95
17  23.50  18.5  7.04  57.97
18  23.95  20.5  7.31  46.40
19  21.03  18.5  7.34  57.67
20  21.58  15.0  7.28  42.67
21  21.11  21.0  6.81  50.66
22  21.27  19.5  6.46  46.73
23  21.97  15.5  7.32  55.32
24  23.99  17.0  7.57  57.22
25  19.62  20.0  6.47  47.28
26  20.92  21.5  6.80  55.49
27  19.21  19.0  7.36  53.74
28  36.70  11.5  7.09  67.03
29  19.21  19.0  7.36  53.74

Dependent variable (y):
0     376.88
1     560.29
2     510.25
3     519.48
4     433.73
5     471.94
6     499.00
7     374.34
8     371.30
9     289.42
10    427.55
11    465.87
12    375.01
13    352.50
14    360.18
15    356.30
16    459.52
17    368.70
18    541.17
19    368.59
20    345.38
21    451.56
22    448.66
23    364.75
24    364.09
25    378.57
26    441.42
27    449.08
28    476.40
29    449.08
Name: FYPP, dtype: float64

In [42]:
# Selecting independent variables (features)
X = df.iloc[:, 0:12]  # Selects all rows and columns from index position 0 to 11 (inclusive)

# Selecting dependent variable (target)
y = df.iloc[:, -1]  # Selects all rows and the last column

# Printing X and y
print("Independent variables (X):")
print(X)
print("Dependent variable (y):")
print(y)

Independent variables (X):
          Genotypes   FP   FPP      PH   NB    SD     IL   NII     FL   FWI  \
0      Arka Anamika  2.0  42.5  129.21  2.0  1.47   6.90  14.5  15.35  1.61
1          Raadhika  1.0  42.5   96.27  1.0  1.72   5.40  15.5  18.63  2.11
2            OH-102  1.0  40.5   90.83  0.0  1.61  10.30  14.0  15.20  1.89
3         SVOK 5151  2.0  41.5  142.18  1.0  2.17   9.85  21.0  18.61  2.00
4           F1 No.3  1.0  46.5  109.62  2.0  1.77  11.80  14.0  16.52  1.70
5        INDAM 9821  1.0  43.5  129.32  1.0  2.20   5.80  18.0  17.49  2.04
6            NS 864  2.0  46.5  140.29  2.5  2.80  10.10  21.0  14.36  1.51
7         Mahyco 10  1.0  40.5  114.52  2.5  1.74   5.10  14.5  13.78  1.46
8       Pusa sawani  1.0  48.5  121.33  2.0  1.63   3.55  13.5  15.33  1.58
9            Damini  2.0  46.5  102.32  1.0  1.34   8.60  13.0  14.04  1.52
10           SF 009  1.0  46.5  114.34  1.0  2.19   7.50  16.0  15.27  1.77
11           Shakti  1.0  43.5  128.39  0.0  1.68   6.30  15.5  16.47  1.59
12     Varsha Uphar  1.0  47.0  127.07  2.0  2.18   7.35  17.0  14.36  1.72
13         Red Okra  2.0  50.5  122.62  0.0  2.19   8.40  14.0  12.77  1.78
14       Green Okra  2.0  53.5  133.17  2.0  1.93   6.35  16.5  11.80  1.79
15       Arka Abhay  1.0  43.5  126.71  1.0  1.61  11.25  16.5  14.55  1.50
16       Welcome F1  1.0  46.5  104.32  1.0  1.34   6.40  17.0  17.49  1.39
17        Halubende  3.5  52.5  120.92  4.5  1.95   5.04  18.0  21.04  1.57
18           Samrat  1.0  46.5  111.64  1.5  1.62   5.05  18.5  15.25  1.43
19       H.R. Local  5.5  56.0  119.22  8.5  2.63   8.50  23.5  14.16  1.51
20     Red Burgundy  2.0  49.0  111.68  1.0  1.78   8.70  13.5  17.00  1.57
21         Vasant 4  1.0  47.0  108.86  1.0  1.88   9.30  17.0  16.37  1.42
22           Sujata  1.0  46.0  110.68  0.0  1.70   7.70  19.0  17.63  1.53
23  Parbhani Kranti  2.0  45.0  116.82  2.0  1.87   6.30  17.0  12.68  1.69
24    Elephant Tusk  1.0  51.5  124.46  1.0  1.90   8.25  19.5  20.65  1.79
25          Garjana  1.0  46.5  113.82  1.0  1.82   6.35  20.0  17.35  1.47
26           NoH-15  1.0  45.0  110.26  2.0  1.79   7.45  16.5  17.77  1.58
27      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56
28       Green star  2.0  50.5  124.25  1.0  1.53   6.30  14.5  11.55  3.50
29      Arka Nikita  1.0  46.5  114.67  1.0  1.43   7.15  16.5  14.90  1.56

      FEW    NF
0   18.63  21.0
1   25.35  23.5
2   23.79  19.5
3   25.22  22.0
4   21.27  17.0
5   22.85  20.5
6   18.75  22.0
7   23.78  17.0
8   21.69  16.5
9   21.48  20.0
10  20.11  20.5
11  22.74  22.0
12  19.22  19.0
13  21.23  16.5
14  22.77  14.5
15  20.52  16.5
16  20.66  21.5
17  23.50  18.5
18  23.95  20.5
19  21.03  18.5
20  21.58  15.0
21  21.11  21.0
22  21.27  19.5
23  21.97  15.5
24  23.99  17.0
25  19.62  20.0
26  20.92  21.5
27  19.21  19.0
28  36.70  11.5
29  19.21  19.0
Dependent variable (y):
0     376.88
1     560.29
2     510.25
3     519.48
4     433.73
5     471.94
6     499.00
7     374.34
8     371.30
9     289.42
10    427.55
11    465.87
12    375.01
13    352.50
14    360.18
15    356.30
16    459.52
17    368.70
18    541.17
19    368.59
20    345.38
21    451.56
22    448.66
23    364.75
24    364.09
25    378.57
26    441.42
27    449.08
28    476.40
29    449.08
Name: FYPP, dtype: float64